.ulContainer{
  display: flex;
background-color: rgb(115, 117, 238);
  flex-direction: row;
  height: 85px;
}

.ulContainer >li{

  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
background-color: aqua;
width: 24%;
height: 40%;
  margin: 10px 5px 15px 20px;
text-align: center !important;
  border: 1px solid #4b37fc;
  box-shadow: 5px 10px #f1cece;
  border-radius: 10px;
  
  
color: chartreuse;
  
}
Link{
  display: flex;
  
  align-self: center;
}


.cryptoContainer{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 10%;
  border-radius: 100px;
}
.smallContainer{
  border-radius: 100px;
align-items: center;
  background-color: #a8a1e7;
  display: flex;
  flex-direction: column;
}
.valueCrypto{
  background-color: aliceblue;
  padding: 5%;
}