.ulContainer{
  display: flex;
background-color: rgb(115, 117, 238);
  flex-direction: row;
  flex-wrap: wrap;
}

.ulContainer >li{

  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
background-color: aqua;
width: 6rem;
height: 2rem;
  margin: 10px 5px 15px 20px;
  border: 1px solid #4b37fc;
  box-shadow: 5px 10px #f1cece;
  border-radius: 1rem;
  align-items: center

  
}
Link{
  display: flex;
  
  align-self: center;
}


.cryptoContainer{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 10%;
  border-radius: 100px;
}
.smallContainer{
  border-radius: 100px;
align-items: center;
  
  display: flex;
  flex-direction: column;
}
.valueCrypto{
  background-color: aliceblue;
  padding: 5%;
  border-radius: 100px;
}
.Container{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 10% 20%;
  border-radius: 100px;
}
.smallContainer{
align-items: center;
  
  display: flex;
  flex-direction: column;
}